<footer class="bg-slate-600">
    <div class="w-full flex justify-center">
        <div class="grid grid-cols-3 gap-5 pt-7 pb-8 basis-2/4">
            <div class="flex flex-col gap-2">
                <div>About us</div>
                <div>Contact us</div>
                <div>Help</div>
            </div>
            <div class="flex flex-col gap-2">
                <div>Security</div>
                <div>Terms</div>
                <div>Privacy</div>
            </div>
            <div class="flex flex-col gap-2">
                <div>Facebook</div>
                <div>Instagram</div>
                <div>Twitter</div>
                <div>Youtube</div>
            </div>
        </div>
    </div>
</footer>