




form {
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}


input {
        background-color: rgba(255, 255, 255, 0.07);    
}





.wrapper {
        width: 25px;
        margin: 4em auto 0;
      }
      
      .checkmark {
        stroke: green;
        stroke-dashoffset: 745.74853515625;
        stroke-dasharray: 745.74853515625;
        animation: dash 2s ease-out forwards infinite;
      }
      
      @keyframes dash {
        0% {
          stroke-dashoffset: 745.74853515625;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }





      svg {
        width: 25px;
        display: block;
        margin: 40px auto 0;
      }
      
      .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
          -webkit-animation: dash .9s ease-in-out;
          animation: dash .9s ease-in-out;
        }
        &.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash .9s .35s ease-in-out forwards;
          animation: dash .9s .35s ease-in-out forwards;
        }
        &.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check .9s .35s ease-in-out forwards;
          animation: dash-check .9s .35s ease-in-out forwards;
        }
      }
               
      p {
        text-align: center;
        margin: 20px 0 60px;
        font-size: 1.25em;
        &.success {
          color: green;
        }
        &.error {
          color: #D06079;
        }
      }
      
      
      @-webkit-keyframes dash {
        0% {
          stroke-dashoffset: 1000;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      
      @keyframes dash {
        0% {
          stroke-dashoffset: 1000;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      
      @-webkit-keyframes dash-check {
        0% {
          stroke-dashoffset: -100;
        }
        100% {
          stroke-dashoffset: 900;
        }
      }
      
      @keyframes dash-check {
        0% {
          stroke-dashoffset: -100;
        }
        100% {
          stroke-dashoffset: 900;
        }
      }
      