<app-user-navbar></app-user-navbar>


<app-user-sub-navbar></app-user-sub-navbar>






<section class="overflow-hidden mb-5">
    <div class="flex justify-center flex-wrap md:flex-nowrap">
        <div class="basis-4/12 mt-5">

            <div class="basic-container ml-5 image" style="width:30rem;">
                <gallery class="bg-white" id="basic-test" imageSize="cover" fluid [items]="items"></gallery>
            </div>


        </div>

        <div class="">
            <div>
                <div class="ml-3 sm:ml-10 mt-5">
                    <p class="font-medium text-5xl font-poppins">Amila Hotel</p>
                    <p class="text-xl font-poppins">Kochi</p>
                    <div class="pt-5">
                        <p class="">Review 4.5</p>
                        <img class="w-32 -ml-2"
                            src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                            alt="...">
                    </div>
                    <div class="mt-5 mb-5 flex gap-4">
                        <p class="text-base font-mono">₹1299</p>
                        <p class="text-base font-mono line-through text-gray-500">₹1499</p>
                    </div>
                    <div class="mt-5 font-poppins text-xl flex flex-wrap">
                        <p>The Taj Mahal, is an Islamic ivory-white marble mausoleum on the right bank of the river
                            Yamuna in the Indian city of Agra. It was commissioned in 1631 by the Mughal emperor
                            Shah
                            Jahan to house the tomb of his favourite wife, Mumtaz Mahal; it also houses the tomb of
                            Shah
                            Jahan himself.k</p>
                    </div>
                </div>
            </div>


            <div>

            </div>
        </div>
    </div>







    <div class="mt-10 ml-3 border-t-2 pt-4">
        <div>
            <h2>Review</h2>
            <img class="w-32 -ml-2 hover:scale-110 duration-200 ease-in-out"
                src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                alt="...">
        </div>
        <div class="">
            <h3>At Hotel, the highest priority is providing outstanding standards of hospitality to every guest. The
                hotel offers three categories of rooms, each designed to perfection and fitted with every amenity
                required and desired by the luxury business traveler. Each room and suite is an exquisitely designed
                space to unwind in after a long day of work, fitted with a luxurious king-sized or twin bed, a 43” HD
                smart TV, electronic safe, stocked minibar, walk-in shower, and laundry services.</h3>
        </div>
    </div>



    <div class="border-2 border-black border-opacity-50 mt-10 ml-3 pt-5 mr-3">
        <div class="ml-2 mr-2 mb-2">
            <h1>You may also like</h1>
            <div class="border-t-2">
                <p class="font-medium text-lg pt-3">Popular Nearby</p>
                <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
                    <div class="flex hover:scale-110 duration-200 ease-in-out hover:shadow-lg rounded-md">
                        <div>
                            <img class="h-40 w-36 ml-1 mr-1 mt-1 mb-1 rounded hover:scale-110 duration-200 ease-in-out"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPZwnlI5XArGVwBc3o1Sd6_osatp5vVydR_g&usqp=CAU"
                                alt="...">
                        </div>
                        <div class="ml-2 text-sm md:text-lg mt-2">
                            <p>Hycinth Hotels</p>
                            <div class="">
                                <p class="text-xs">Review 4.5</p>
                                <img class="w-20 -ml-2 pb-2 hover:scale-110 duration-200 ease-in-out"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                                <p
                                    class="font-mono bg-green-400 rounded-full text-center hover:scale-110 duration-200 ease-in-out hover:text-sky-700">
                                    ₹ 299</p>
                            </div>
                        </div>
                    </div>


                    <div class="flex hover:scale-110 duration-200 ease-in-out hover:shadow-lg rounded-md">
                        <div>
                            <img class="h-40 w-36 ml-1 mr-1 mt-1 mb-1 rounded hover:scale-110 duration-200 ease-in-out"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPZwnlI5XArGVwBc3o1Sd6_osatp5vVydR_g&usqp=CAU"
                                alt="...">
                        </div>
                        <div class="ml-2 text-sm md:text-lg mt-2">
                            <p>Hycinth Hotels</p>
                            <div class="">
                                <p class="text-sm">Review 4.5</p>
                                <img class="w-20 -ml-2 pb-2 hover:scale-110 duration-200 ease-in-out"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                                <p
                                    class="font-mono bg-green-400 rounded-full text-center hover:scale-110 duration-200 ease-in-out hover:text-sky-700">
                                    ₹ 299</p>
                            </div>
                        </div>
                    </div>


                    <div class="flex hover:scale-110 duration-200 ease-in-out hover:shadow-lg rounded-md">
                        <div>
                            <img class="h-40 w-36 ml-1 mr-1 mt-1 mb-1 rounded hover:scale-110 duration-200 ease-in-out"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPZwnlI5XArGVwBc3o1Sd6_osatp5vVydR_g&usqp=CAU"
                                alt="...">
                        </div>
                        <div class="ml-2 text-sm md:text-lg mt-2">
                            <p>Hycinth Hotels</p>
                            <div class="">
                                <p class="text-sm">Review 4.5</p>
                                <img class="w-20 -ml-2 pb-2 hover:scale-110 duration-200 ease-in-out"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                                <p
                                    class="font-mono bg-green-400 rounded-full text-center hover:scale-110 duration-200 ease-in-out hover:text-sky-700">
                                    ₹ 299</p>
                            </div>
                        </div>
                    </div>

                    <div class="flex hover:scale-110 duration-200 ease-in-out hover:shadow-lg rounded-md">
                        <div>
                            <img class="h-40 w-36 ml-1 mr-1 mt-1 mb-1 rounded hover:scale-110 duration-200 ease-in-out"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPZwnlI5XArGVwBc3o1Sd6_osatp5vVydR_g&usqp=CAU"
                                alt="...">
                        </div>
                        <div class="ml-2 text-sm md:text-lg mt-2">
                            <p>Hycinth Hotels</p>
                            <div class="">
                                <p class="text-sm">Review 4.5</p>
                                <img class="w-20 -ml-2 pb-2 hover:scale-110 duration-200 ease-in-out"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                                <p
                                    class="font-mono bg-green-400 rounded-full text-center hover:scale-110 duration-200 ease-in-out hover:text-sky-700">
                                    ₹ 299</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="border-t-2 mt-5"></div>
            </div>
        </div>
    </div>




</section>


<app-user-footer></app-user-footer>