<div class="mt-2 border-b-2 border-t-2 border-black overflow-hidden ml-3 mr-3">
    <div class="flex justify-between mt-4 ml-2 mr-2 sm:ml-10 sm:mr-10 mb-3">
        <div class="text-xl hover:text-blue-600 hover:scale-125 duration-150 ease-in-out" routerLink="/user_hotel" routerLinkActive="active">Hotel</div>
        <div class="text-xl hover:text-blue-600 hover:scale-125 duration-150 ease-in-out" routerLink="/user_restaurant" routerLinkActive="active">Restaurant</div>
        <div class="text-xl hover:text-blue-600 hover:scale-125 duration-150 ease-in-out" routerLink="/user_car" routerLinkActive="active">Car</div>
        <div class="text-xl hover:text-blue-600 hover:scale-125 duration-150 ease-in-out" routerLink="/user_guide" routerLinkActive="active">Guide</div>
        <div class="text-xl hover:text-blue-600 hover:scale-125 duration-150 ease-in-out" routerLink="/user_place" routerLinkActive="active">Place</div>
    </div>
</div>

