<app-user-navbar></app-user-navbar>


<app-user-sub-navbar></app-user-sub-navbar>






<section class="overflow-hidden mb-5">
    <div class="flex justify-center flex-wrap md:flex-nowrap">
        <div class="basis-4/12 mt-5">

            <div class="basic-container ml-5 image" style="width:30rem;">
                <gallery class="bg-white" id="basic-test" imageSize="cover" fluid [items]="items"></gallery>
            </div>


        </div>

        <div class= "">

            <div class="flex justify-center mb-9 ml-5">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-x-20 gap-y-10">
                    <div class=" mt-5 ">
                        <div class="flex flex-col">
                            <label class="mb-2" for="">Select data to start travel</label>
                            <input type="datetime-local"
                                class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in"
                                placeholder="Check in">
                        </div>
                    </div>
                    <div class="md:mt-5">
                        <div class="flex flex-col">
                            <label class="mb-2" for="">how many days to travel</label>
                            <input type="number"
                                class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in"
                                placeholder="0">
                        </div>
                    </div>
        
        
                    <div class="flex flex-col">
                        <input type="text"
                            class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in text-center"
                            placeholder="0 adult , 0 child , 0 romms ">
                    </div>
             
        
        
                    <div class="flex flex-col">
                        <input type="text"
                            class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in text-center"
                            placeholder="1299">
                    </div>
                </div>
            </div>

            <div>
                <div class="ml-3 sm:ml-10 mt-5">
                    <p class="font-medium text-5xl font-poppins">Taj Mahal</p>
                    <p class="text-xl font-poppins">Delhi</p>
                    <div class="pt-5">
                        <p class="">Review 4.5</p>
                        <img class="w-32 -ml-2"
                            src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                            alt="...">
                    </div>

                    <div class="mt-5 font-poppins text-xl flex flex-wrap">
                        <p>Taj Mahal
                            Category Historic
                            The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in
                            the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor, Shah Jahan
                            (reigned from 1628 to 1658), to house the tomb of his favourite wife, Mumtaz Mahal. The tomb
                            is the centrepiece of a 17-hectare (42-acre)complex, which includes a mosque and a guest
                            house, and is set in formal gardens bounded on three sides by a crenellated wall.
    </p>
                    </div>
                </div>
            </div>


            <div>

            </div>
        </div>
    </div>







    <div class="mt-10 ml-3 border-t-2 pt-4">
        <div>
            <h2>Review</h2>
            <img class="w-32 -ml-2 hover:scale-110 duration-200 ease-in-out"
                src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                alt="...">
        </div>
        <div class="">
            <h3>The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in
                the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor, Shah Jahan
                (reigned from 1628 to 1658), to house the tomb of his favourite wife, Mumtaz Mahal. </h3>
        </div>
    </div>


    <div class="ml-6 mt-3 border-t-2 pt-4">
        <div>
            <h1>provide facility</h1>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 text-sm">
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Transportation</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Accommodation</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Food and Beverage</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Entertainment</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Housekeeping</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">hospitality</li>
            <li class="hover:scale-110 duration-150 ease-out hover:text-sky-500">Safety measures</li>
        </div>
    </div>


  

   
<div class="border-t-2 mt-10"></div>




<div class="flex flex-col bg-white m-auto p-auto mt-5">
    <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
        Other guides
    </h1>
    <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">

            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                <div
                    class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div>
                        <img class="hover:scale-110 duration-150"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnmywyTou_HdB9EmO2Dg39bNWLZtl-MW4oJA&usqp=CAU"
                            alt="...">
                        <p class="text-md pt-2">Taj mahal</p>
                        <p>Amal</p>
                        <div class="flex w-full">
                            <div class="basis-1/2">
                                <p>Review 4.5</p>
                                <img class="w-28"
                                    src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                    alt="...">
                            </div>
                            <div class="basis-1/2 flex justify-end items-end mr-4">
                                <p>₹4999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






    <div class="flex flex-col bg-white m-auto p-auto mt-5">
        <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
            Restaurants Available
        </h1>
        <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
            <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">

                <div class="inline-block px-3" routerLink="/user_restaurant_details" routerLinkActive="active">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inline-block px-3">
                    <div
                        class="w-64 h-80 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out">
                        <div>
                            <img class="hover:scale-110 duration-150"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcYV9NonR_MqceAOLqVkheAgGGaQAYNn2n7g&usqp=CAU"
                                alt="...">
                            <p class="text-md pt-2">Al Saj Restaurant</p>
                            <div class="flex w-full">
                                <div class="basis-1/2">
                                    <p>Review 4.5</p>
                                    <img class="w-28"
                                        src="https://t4.ftcdn.net/jpg/03/52/11/77/360_F_352117727_d5h8yi1Smn7mxzYKte15ThuDlHzRuGkN.jpg"
                                        alt="...">
                                </div>
                                <div class="basis-1/2 flex justify-end items-end mr-4">
                                    <p>₹299</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</section>


<app-user-footer></app-user-footer>