<app-user-navbar></app-user-navbar>


<app-user-sub-navbar></app-user-sub-navbar>

<section class="overflow-hidden">

<div class="image w-screen h-screen flex justify-center items-center overflow-hidden">
    <div class="flex justify-center mb-24">
        <div class="grid grid-cols-1 gap-4 lg:gap-x-20 gap-y-10">

            <div class=" mt-5">
                <div class="flex flex-col">
                    <label class="mb-2 text-white" for="">From</label>
                    <input type="text"
                        class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in"
                        placeholder="From">
                </div>
            </div>

            <div class="md:mt-5">
                <div class="flex flex-col">
                    <label class="mb-2 text-white" for="">To</label>
                    <input type="text"
                        class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in"
                        placeholder="To">
                </div>
            </div>

            <div class="md:mt-5">
                <div class="flex flex-col">
                    <label class="mb-2 text-white" for="">Date</label>
                    <input type="datetime-local"
                        class="border-2 border-l-8 border-l-lime-500 border-black lg:w-96 h-14 text-xl pl-3 hover:scale-110 duration-150 ease-in"
                        placeholder="Date">
                </div>
            </div>

            
            <div class="flex justify-center">
                <button class="bg-sky-500 w-24 h-8 rounded-full hover:bg-green-500 hover:scale-125 hover:text-white">Request</button>
            </div>
            
        </div>
    </div>
</div>

</section>



