.image {
    background-image: url('https://t4.ftcdn.net/jpg/02/22/13/65/240_F_222136594_lKMajQNftmhoR7ApyeRvBh9JGTDfReb2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}